* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  height: 100vh;
  display: grid;
  grid-template: 1fr 5fr / 1fr 5fr;
}

.sidebar {
  background-color: #318CE7;
  grid-area: 1 / 1 / 3 / 2;
  display: grid;
  grid-template-rows: 1fr 4fr 2fr 5fr;
  gap: 50px;
}

.dashboard {
  padding: 10px;
  display: grid;
  grid-template-columns: 70px 250px;
  gap: 15px;
  align-items: center;
}

.dashboard > div {
  color: whitesmoke;
  font-weight: 800;
  font-size: 2.3rem;
}

.dashboard svg {
  fill: whitesmoke;
  width: 70px;
  height: auto;
}

.user-info {
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: 1fr 4fr;
  gap: 10px 15px;
  align-items: center;
}

.support-and-settings {
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 4fr;
  gap: 10px 15px;
  align-items: center;
}

.small-icon {
  fill: whitesmoke;
  width: 30px;
  height: auto;
  justify-self: center;
}

.side-option {
  color: whitesmoke;
  font-weight: 800;
  font-size: 1.5rem;
}

.header {
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.search {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr 1fr 2fr;
  gap: 20px;
  align-items: center;
}

input {
  width: 100%;
  height: 40px;
  padding: 20px;
  font-size: 20px;
  background-color: lightgrey;
  border-radius: 20px;
  border-style: none;
}

.search-icon {
  justify-self: end;
}

.search-icon {
  width: 30px;
  height: auto;
}

.small-image {
  width: 50px;
  height: auto;
  border-radius: 50%;
  justify-self: center;
}

.search > div {
  font-size: 20px;
  font-weight: 800;
}

.profile-action {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1fr;
  gap: 15px;
  align-items: center;
}

.large-image {
  width: 90px;
  height: auto;
  border-radius: 50%;
  justify-self: end;
}

.profile {
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr 2fr;
}

.small {
  font-size: 18px;
  font-weight: 800;
}

.large {
  font-size: 30px;
  font-weight: 800;
}

button {
  width: 70%;
  height: 40px;
  color: white;
  background-color: #318CE7;
  font-size: 18px;
  font-weight: bold;
  border-radius: 25px;
  border-style: none;
}

.main-content {
  background-color: lightgrey;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  gap: 30px;
}

.article {
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  margin-left: 30px;
}

.head-1 {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 800;
  align-self: end;
}

.head-2 {
  font-size: 18px;
  font-weight: 800;
}

.article-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  gap: 30px;
}

.article-item {
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 15px;
}

.card-content {
  margin-top: 10px;
  color: darkcyan;
}

.pinned {
  display: grid;
  grid-template-rows: 1fr 3.5fr 1fr 3.5fr 1fr;
  margin-right: 30px;
}

.announcement {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 10px;
}

.announcement div {
  padding-bottom: 10px;
}

.head-3 {
  font-size: 14px;
  font-weight: 800;
}

.announce {
  color: darkcyan;
  font-size: 12px;
}

.trending {
  display: grid;
  grid-template: repeat(4, 1fr) / 1fr 2.5fr;
  align-items: center;
  gap: 10px;
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 10px;
}

.userid {
  font-weight: bold;
  margin-bottom: 2px;
}
